.formContainer {
  margin: 20px;
}

.form {
  display: flex;
  justify-content: center;
  padding: 0 20%;

  @media (max-width: 768px) {
    padding: 0 10%;
  }
}

.input {
  height: 40px;
  margin-top: 8px;
}

.button {
  margin: 10px;
  width: 140px;
  min-width: 140px;
}
